.build-notes {
    width: 500px;
}

html, body {
    /* has to be both to force entire page */
    height: 100%;
}

button {
    font-size: 32px;
}

.hide {
    display: none;
}

.container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.title {
    font-size: 48px;
}

.options {
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 30px;
}

.score-title, .result {
    display: flex;
    justify-content: center;
}

.scores {
    display: flex;
    justify-content: space-evenly;
}

.tasks li {
    text-decoration: line-through;
}